
<div class="box-tools pull-left">
    <div class="input-group" style="width:280px;padding:0px; margin:0;border-width:0;">
        <div class="input-group-addon">
            日期：
            <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" id="reservation">
    </div>
    
</div>
